{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-center align-middle">Annual Summary for {{ object.number }} - {{ object.title }}</h2>

<table class="table table-striped">
  <thead>
    <th scope="col">
      Month
    </th>
    <th scope="col">
      Unbilled
    </th>
    <th scope="col">
      Billed
    </th>
  </thead>

  <tbody>
    {% for month, hours in hours_table.items %}
    <tr>
      <th scope="row">{{ month }}</th>
      <td>{{ hours.0|default:0.0 }}</td>
      <td>{{ hours.1|default:0.0 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

