{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-center align-middle">Summary from {{ start_date }} to {{ end_date }}</h2>

<table class="table table-striped">
  <thead>
    <th scope="col">
      Project
    </th>
    <th scope="col">
      Unbilled
    </th>
    <th scope="col">
      Billed
    </th>
  </thead>

  <tbody>
    {% for row in rows %}
    <tr>
      <th scope="row">{{ row.0 }}</th>
      <td>{{ row.1|default:0.0 }}</td>
      <td>{{ row.2|default:0.0 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

